# 文件地址栏,正常情况不用修改
[File Path]
minecraft = ./.minecraft
minecraft_mods = ./.minecraft/mods

# 更新模式,分为 Online 和 Offline
[Update Info]
update_mode = Online
update_download_url = http://127.0.0.1/forpython/mods

# Oline模式下使用参数，Offline模式可不填
[Online Update Info]
server_request = http://127.0.0.1/forpython/index.php

# Offline模式使用参数，Online模式可不填
[Offline Update Info]
update_file = ./server.json